.navigation {
  .navbar-expand {
    .container {
      .navbar-brand {
        .App-logo {
          max-width: 230px;
          height: auto;
          margin-bottom: 0;
        }
      }
      .menubar {
        display: flex;
        justify-content: space-between;
        .navbar-nav {
          .nav-item {
            .nav-link {
              color: #1e2536;
              margin-left: 20px;
              margin-right: 20px;
              letter-spacing: 2.2px;
              font-size: 18px;
              font-weight: 500;
            }
          }
        }
        .book-a-demo {
          .book-demo {
            border-color: #d13434;
            background-color: #d13434;
            padding: 13px 27px;
            font-weight: 500;
            border-radius: 7px;
            color: #fff;
            font-size: 16px;
            &:hover {
              background-color: #c82333;
              border-color: #bd2130;
            }
          }
        }
      }
    }
  }
}
